.colWrapper {
    display: flex;
    margin-bottom: 20px;
}

.colA {
    border: 1px solid black;
    background-color: #b5caf9;
    padding: 15px 104px;
    margin-right: 54px;
}

.colB {
    border: 1px solid black;
    background-color: #b5caf9;
    padding: 15px 149px;
}

.colC {
    border: 1px solid black;
    background-color: #b5caf9;
    padding: 15px 104px;
    margin-left: 52px;
}