.formWrapper {
    margin-bottom: 25px;
}

form label {
    display: block;
}

form input[type='text'] {
    padding: 10px 5px;
    width: 18rem;
    margin-right: 6rem;
}

form button[type='submit'] {
    padding: 2px 40px;
    width: 13rem;
    font-size: 15px;
    cursor: pointer;
    background-color: #ffffd6;
}

form button:hover {
    background-color: #f3f39b;
}

.formInner {
    display: flex;
}

.invalid {
    border: 2px solid red;
    background-color: #FFEEE9;
}

@media (max-width: 820px) {
    form input[type='text'] {
        width: 13rem;
        margin-right: 3rem;
    }
    form button[type='submit'] {
        padding: 2px 26px;
        width: 10rem;
        font-size: 13px;
    }
}

@media (min-width: 820px) and (max-width: 1070px) {
    form input[type='text'] {
        width: 15rem;
        margin-right: 4rem;
    }
    form button[type='submit'] {
        padding: 2px 30px;
        width: 12rem;
        font-size: 14px;
    }
}