.outer{
    display: flex;
}

.innerA {
    display: flex;
    margin-right: 3rem;
}

.innerB {
    display: flex;
}

.innerC {
    display: flex;
    margin-left: 3rem;
}

.seat{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 55px;
    border: 2px solid white;
}